// Specific CSS for your home-page

.home-card {
  padding: 16px 24px;
  align-items: center;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
  border-radius: 10px;
}

.card-trans {
background-color: #5C68FF;
color: white;
}

.card-msg {
background-color:#FDD05B ;
color: white;
}

.card-actu {
background-color: #F45D01;
color: white;
}
