// Specific CSS for your home-page

.home-card {
  padding: 16px 24px;
  align-items: center;
  box-shadow: 0 0 8px rgba(0,0,0,0.3);
  border-radius: 10px;
  margin: 30px 0;
  height: 100px;
  font-size: 18px;
}

.card-trans {
display: flex;
justify-content: space-around;
background-color: #5C68FF;
color: white;
height: 100px;
font-size: 18px;
}

.card-msg {
display: flex;
justify-content: space-around;
background-color:#FDD05B;
color: white;
text-align: center;
height: 100px;
font-size: 18px;
}

.card-actu {
display: flex;
justify-content: space-around;
background-color: #F45D01;
color: white;
text-align: center;
}
