// Import page-specific CSS files here.
@import "home";
@import "login";
@import "patient_show";


.modal-dialog{
  padding-top: 170px;
}

.modal-content {
  text-align: center;
  border-radius: 10px;
  padding: 15px;
  height: inherit;
}

.btn-center{
  display: block;
  margin: auto;
}

.btn-primary {
  color: #fff;
  background-color: #4a6ac5;
  border-color: #4a6ac5;
}
