<div class="form-container">
  <h5>Tu souhaites te faire remplacer ?</h5>
  <p class="text-center"> _____________________________________</p>
    <%= form_tag replacements_path, method:"post" do %>
        <div class="formulaire center-div">
        <div class="container">
          <label>
            <p>Date de début</p>
            <%= date_field("replacement", "start_date") %>
          </label>
          <label>
            <p>Date de fin</p>
            <%= date_field("replacement", "end_date") %>
          </label>
          </div>
      <%= submit_tag "Je valide !", class: "btn btn-gradient mt-4" %>
    </div>
    <% end %>
</div>
