<div class="form-container">
  <h5>Tu souhaites te faire remplacer ?</h5>
  <p class="text-center"> _____________________________________</p>
  <%= form_tag replacements_path, method:"post" do %>
    <div class="formulaire ">
      <div class="container">
        <div class="div-center">
          <label>
            <strong>Du</strong> <%= date_field("replacement", "start_date") %>
          </label>
        </div>
        <div class="div-center mt-3">
          <label>
            <strong>Au</strong> <%= date_field("replacement", "end_date") %>
          </label>
        </div>
      </div>
      <%= submit_tag "Je valide !", class: "btn btn-gradient mt-4" %>
    </div>
  <% end %>
</div>
