<div class="footer">
  <div class="footer-links">
    <%= link_to root_path, class: "navbar-brand" do %>
      <i class="fas fa-home"></i>
    <% end %>

    <%= link_to patients_path, class: "navbar-brand" do %>
      <i class="fas fa-address-card"></i>
    <% end %>

    <%= link_to new_replacement_path, class: "navbar-brand" do %>
      <i class="fas fa-calendar-plus"></i>
    <% end %>

    <%= link_to chatrooms_path, class: "navbar-brand" do %>
      <i class="fas fa-comment-alt"></i>
    <% end %>
  </div>
</div>
