<h1>Patients</h1>
<div class= "card-transmissions">
  <a href="#" id="trans">Transmissions</a>
  <a href="#" id="plus">+</a>
</div>

  <% @patients.each do |patient| %>

  <div>
    <img src="">
    <div>
      <p>Patient <%= last_name.upcase %> <%= first_name.first.upcase %></p>
      <p></p>
    </div>
    <p><%= patient.age %> ans</p>
  </div>
  <% end %>
