
 .action-buttons {
  display: flex;
  justify-content: space-around;
  margin: 20px;
}

.card-patient-infos {
  display: flex;
  background-color: lightgrey;
  margin: 10px 0px;
}

.card-actions {
  text-decoration: none;
  padding: 8px 24px;
  border: 2px solid;
  border-radius: 14px;
}

#tr {
  width: 66%;
  text-align: center;
  letter-spacing: 0.10rem;
}

.card-product {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
}

.card-product img {
  height: 79%;
  width: 92px;
  object-fit: cover;
  border-radius: 50px;
  margin-left: 9px;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}
