
 .action-buttons {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.card-actions {
  text-decoration: none;
  padding: 10px 45px;
  border: 2px solid;
  border-radius: 14px;
  font-size: 20px;
}

.cards-patient {
  background-color: #F2F3F4;
  width: 100%;
  border-radius: 10px;
  padding: 25px;
  margin-bottom: 10px;
  a {
    text-decoration: none;
    color: black;
  }
}

.patient-name {
  font-size: 18px;
  font-weight: 600;
}

.card-info-patient {
  background-color: #F2F3F4;
  border-radius: 10px;
  font-size: 18px;
  padding: 20px;
  p {
    margin-bottom: 0px;
    margin-left: 20px;
  }
}

.cards-remplacent {
  border-radius: 10px;
  background-color: #F2F3F4;
  padding: 20px;
  box-shadow: 10px 20px 30px rgba(0, 0, 0, 0.08);
}

.avatar-card {
  width: 90px;
  border-radius: 50%;
}

.patient-remplacement {
  font-size: 16px;
  margin-top: 15px;
  padding: 10px;
}

.border-patient {
  border-radius: 10px;
  padding: 05px;
  opacity: 0.7;

}

.underline {
  text-decoration: underline;
}

.card-patient-infos {
  flex-grow: 1;
  padding-left: 2em;
}

.patient-age {
  font-weight: lighter;
  font-size: 16px;
}

.patient-gender {
  border-radius: 50%;
  background: #e9d8d4;
  width: 50px;
  height: 50px;
  font-size: 30px;
  justify-content: center;
  display: flex;
  align-items: center;
}

.mr-fake-link {
  margin-right: 4px;
  font-size: 16px;
}

.card-secteur {
  background-color: rgba(55, 55, 55, 0.08);
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 10px;
}

.description {
  background-color: rgba(55, 55, 55, 0.08);
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
}

.left-margin {
    margin-left: 10px;
}
