.chatroom {
  background: white;
  margin-top: 9px;
  height: calc(100vh - 75px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;

  h1 {
    border-bottom: 1px solid $gray-200;
    margin-bottom: 0;
    padding: 1rem;
  }

  .messages {
    height: 100%;
    overflow: scroll;
    padding: 1rem;
  }

  #new_message {
    border-top: 1px solid $gray-200;
    padding: 1rem;

    .form-group {
      margin-bottom: 0;
    }
  }
}

.channel {
  background-color: #F9EDEA;
  text-align: center;
  padding: 15px 0px;
  align-items: center;
  border-radius: 10px;
  a {
    text-decoration: none;
    color: #FF7244;
    font-size: 24px;
  }
}

.channel-private {
  background-color: #F4F6F9;
  text-align: center;
  padding: 15px 0px;
  align-items: center;
  border-radius: 10px;
  a {
    text-decoration: none;
    color: #6277C7;
    font-size: 24px;
  }
}

.space-photo {
  margin-right: 15px;
}

.ownmessage {
  background-color: #FEEDE8;
  margin-bottom: 10px;
  border-radius: 15px;
  margin-left: 40px;
  p {
    color: #002A32;
    max-width: 100%;
  }
  img {
    margin: 5px;
  }
}

.othermessage {
  background-color: #F2F4F9;
  margin-bottom: 10px;
  border-radius: 15px;
  margin-right: 40px;
  p {
    color: #002A32;
    max-width: 100%;
  }
  img {
    margin: 5px;
  }
}

.chatcontent {
  margin-top: 5px;
  margin-left: 5px;
  padding-bottom: 2px;
}

.position-fixed {
  position: fixed;
  bottom: 70px;
  width: 80vw;
}
