.footer {
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 70px;
  position: fixed;
  bottom: 0px;
  width: 100vw;
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: #FF7244;
  text-decoration: none;
  font-size: 24px;
  padding: 8px 15px;
}

.badge-bg-secondary{
padding: 5px;
border-radius: 10px;
background-color: #f9edea;
}

.text-size{
 font-size: 18px;
}
